
output
out
testing
Expeirments/Other
Expeirments/Test_Video_Dataset
*.avi
*.mp4
*.MTS
*.DS_Store
# Experiments/EnergyTests/UM_Meter_Data
Experiments/EnergyTests/RPi_old
Experiments/Test_Replicates/RPi5_old
Experiments/Other
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_JamesCook.xlsx
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_Naqvi2022.xlsx
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_PICT.xlsx
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_Ratnayake2021.xlsx
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_Ratnayake2023_P1.xlsx
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_Ratnayake2023.xlsx
Experiments/EnergyTests/UM_Meter_Data/JetsonNano/JN_vanderVoort2022.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_JamesCook_R3.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_JamesCook.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_Naqvi2022.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_PICT.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_Ratnayake2021.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_Ratnayake2023.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi4/RPi4_vanderVoort2022.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi5/Naqvi2022.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi5/NestMonitoring.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi5/PICT.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi5/Ratnayake2021.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi5/Ratnayake2023.xlsx
Experiments/EnergyTests/UM_Meter_Data/RPi5/vanderVoort2022.xlsx
