
output
out
testing
Expeirments/Other
Expeirments/Test_Video_Dataset
*.avi
*.mp4
*.MTS
*.DS_Store
Experiments/EnergyTests/UM_Meter_Data
Experiments/EnergyTests/RPi_old
Experiments/Test_Replicates/RPi5_old